<!-- http://13.71.112.243:3000/api/register -->
<div class="container">
  <div class="row error-list">
    <p *ngIf="!myForm.controls['firstname'].valid && myForm.controls['firstname'].dirty">Firstname is required</p>
    <p *ngIf="!myForm.controls['lastname'].valid && myForm.controls['lastname'].dirty">Lastname is required</p>
  </div>
  
	<div class="row">
    <ngb-alert *ngIf="registerMessage != ''">{{ registerMessage }}</ngb-alert>
    <div class="form-list">
        <form [formGroup]="myForm" (ngSubmit)="addUser(myForm.value)">
          <div class="form-group col-md-6" [ngClass]="{'has-error':!myForm.controls['firstname'].valid && myForm.controls['firstname'].dirty}">
            <label for="firstname"><span class="req">*</span> First Name: </label>
            <input type="text" formControlName="firstname" class="form-control" placeholder="First name"/>
          </div>
          <div class="form-group col-md-6">
            <label for="lastname"><span class="req">*</span> Last Name: </label>
            <input type="text" formControlName="lastname" class="form-control" placeholder="Last name"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="specialist"><span class="req">*</span> Specialist: </label>
            <input type="text" formControlName="specialist" class="form-control" placeholder="Specialist"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="qualification"><span class="req">*</span> Qualification: </label>
            <input type="text" formControlName="qualification" class="form-control" placeholder="Qualification"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="streetname"><span class="req">*</span> Street Name: </label>
            <input type="text" formControlName="streetname" class="form-control" placeholder="Street Name"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="location"><span class="req">*</span> Location: </label>
            <input type="text" formControlName="location" class="form-control" placeholder="Location"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="city"><span class="req">*</span> City: </label>
            <input type="text" formControlName="city" class="form-control" placeholder="City"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="state"><span class="req">*</span> State: </label>
            <input type="text" formControlName="state" class="form-control" placeholder="State"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="pincode"><span class="req">*</span> Pincode: </label>
            <input type="text" formControlName="pincode" class="form-control" placeholder="Pincode"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="yearsofexperience"><span class="req">*</span> Years of Experience: </label>
            <input type="text" formControlName="yearsofexperience" class="form-control" placeholder="Years of Experience"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="mobilenumber"><span class="req">*</span> Mobile Number: </label>
            <input type="text" formControlName="mobilenumber" class="form-control" placeholder="Mobile number"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="email"><span class="req">*</span> Email address: </label>
            <input type="email" formControlName="email" class="form-control" placeholder="Email address"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="phonenumber">Phone Number: </label>
            <input type="text"  class="form-control phone" placeholder="Not used for marketing"/> 
          </div>
          <div class="container">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!myForm.valid">Register</button>
          </div>
        </form>
    </div>
	</div>
</div>