<!-- http://13.71.112.243:3000/api/register -->
<div class="container">
	<div class="row">
    <div class="col-md-">
        <form action="#" method="post" role="form">
          <div class="form-group col-md-6">
            <label for="firstname"><span class="req">*</span> First Name: </label>
            <input type="text" id="firstname" class="form-control phone" placeholder="First name"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="lastname"><span class="req">*</span> Last Name: </label>
            <input type="text" id="lastname" class="form-control phone" placeholder="Last name"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="specialist"><span class="req">*</span> Specialist: </label>
            <input type="text" id="specialist" class="form-control phone" placeholder="Specialist"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="qualification"><span class="req">*</span> Qualification: </label>
            <input type="text" id="qualification" class="form-control phone" placeholder="Qualification"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="streetname"><span class="req">*</span> Street Name: </label>
            <input type="text" id="streetname" class="form-control phone" placeholder="Street Name"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="location"><span class="req">*</span> Location: </label>
            <input type="text" id="location" class="form-control phone" placeholder="Location"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="city"><span class="req">*</span> City: </label>
            <input type="text" id="city" class="form-control phone" placeholder="City"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="state"><span class="req">*</span> State: </label>
            <input type="text" id="state" class="form-control phone" placeholder="State"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="location"><span class="req">*</span> Location: </label>
            <input type="text" id="location" class="form-control phone" placeholder="Location"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="pincode"><span class="req">*</span> Pincode: </label>
            <input type="text" id="pincode" class="form-control phone" placeholder="Pincode"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="yearsofexperience"><span class="req">*</span> Years of Experience: </label>
            <input type="text" id="yearsofexperience" class="form-control phone" placeholder="Years of Experience"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="mobilenumber"><span class="req">*</span> Mobile Number: </label>
            <input type="text" id="mobilenumber" class="form-control phone" placeholder="Mobile number"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="email"><span class="req">*</span> Email address: </label>
            <input type="email" id="email" class="form-control phone" placeholder="Email address"/> 
          </div>
          <div class="form-group col-md-6">
            <label for="phonenumber">Phone Number: </label>
            <input type="text"  class="form-control phone" placeholder="Not used for marketing"/> 
          </div>
          <button (click)="alert(1)" class="btn btn-primary btn-lg">Register</button>
        </form>
    </div>
	</div>
</div>